* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: xx-large;
}
h1 a {
  text-decoration: none;
  color: #d2872c;
  margin-left: 5%;
}

.content-header {
  display: flex;
  justify-content: space-between;
}

.content-menu {
  display: none;
}

.menu-mobile {
  margin-right: 5px;
  margin-top: 30px;
}

.content-center {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.content-center .text-center {
  text-align: center;
  color: #766f68;
}

.content-center .text-center .text-bigger {
  font-size: xx-large;
  font-weight: bold;
}

.footer {
  text-align: center;
  color: #766f68;
  font-size: small;
}

.content-center img {
  max-width: 100%;
  max-height: 70%;
  width: auto;
  height: auto;
  align-items: center;
}

.content-center button {
  margin: 20px;
  width: 50%;
  max-width: 200px;
  border: none;
  background-color: #d2872c;
  border-radius: 10px;
  height: 50px;
  font-size: medium;
  font-weight: bold;
  color: #f2f2f2;
}

.footer {
  display: block;
  position: relative;
  margin-right: 30px;
  margin-left: 5%;
  text-align: right;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .menu-mobile {
    display: none;
  }
  .content-menu {
    color: #766f68;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    display: flex;
    margin-top: 25px;
  }
  .content-menu a {
    display: flex;
    text-decoration: none;
    color: #766f68;
    text-align: left;
    padding-right: 20px;
    text-decoration: none;
    font-size: 17px;
    padding-top: 2px;
  }
  .footer {
    bottom: 5%;
    right: 30px;
  }
}

@media only screen and (min-width: 700px) {
  .menu-mobile {
    display: none;
  }
  .content-menu {
    color: #766f68;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    display: flex;
    margin-top: 25px;
  }
  .content-menu a {
    display: flex;
    text-decoration: none;
    color: #766f68;
    text-align: left;
    padding-right: 20px;
    text-decoration: none;
    font-size: medium;
    padding-top: 2px;
  }
  .content-center img {
    max-width: 60%;
    width: auto;
    height: auto;
    display: flex;
    float: right;
  }

  .footer {
    position: absolute;
    bottom: 5%;
    right: 30px;
  }
}
